     <p>Di algo abuela:</p>
  
   <form action="/" method="post">
     <input type="text" value="<%= @value %>" name="value">
     <input type="submit" value="enviar">
   </form>
<h1><%=@resp %></h1>
